<!doctype html>
<html lang="pt-br">
<title>{{default_from_name|safe|linebreaksbr}}</title>
<head>
	<meta charset="utf-8">
</head>
<body>
{% block content %}{% endblock %}
	--
	<br>
	<font size="1" face="verdana, sans-serif">
		<b>Tribunal de Justiça do Estado do Paraná</b>
	</font>
	<br>
	<font size="1" face="verdana, sans-serif">
		Pç. Nossa Senhora de Salette - Centro Cívico / Curitiba - PR / CEP: 80530-912
	</font>
	<br>
	<u><a href="https://www.tjpr.jus.br" target="_blank" style=""><font style="" face="verdana, sans-serif">www.tjpr.jus.br</font></a></u>
	</body>
</html>