Por favor, informe o ID de eleitor e a senha que você recebeu por e-mail.<br/><br/>

<form method="post" action="{% url 'password-voter-login' election.uuid %}" onsubmit="show_waiting()">
	<input type="hidden" name="csrf_token" value="{{csrf_token}}"/>
	<input type="hidden" name="return_url" value="{{return_url}}"/>
	<input type="hidden" name="cast_ballot" value="{{cast_ballot}}"/>
	<table>
		{{password_login_form.as_table}}
	</table>
	{% if bad_voter_login %}
		<p style="color: red;">
			Usuário ou senha incorretos, por favor, tente novamente.
		</p>
	{% endif %}

	{% if cast_ballot == "1" %}
		<p class="small">
			{% if election.cast_limit == 1 %}
				O processo de depósito da cédula é final e não poderá ser refeito.
			{% endif %}
			{% if election.cast_limit != 1 %}
				{% if election.cast_limit == 0 %}
					Você pode depositar quantas cédulas quiser.
				{% endif %}
				{% if election.cast_limit > 1 %}
					O processo de depósito de cédulas poderá ser feito até {{election.cast_limit}} vezes.
				{% endif %}
				<br/>Somente a última cédula será considerada.
			{% endif %}
		</p>
		<input type="submit" class="button" value="DEPOSITAR cédula"/>
	{% else %}
		<input type="submit" class="button" value="Conectar-se"/>
	{% endif %}
</form>