{% extends TEMPLATE_BASE %}

{% block title %}Questões para {{election.name}}{% endblock %}

{% block js %}
	<script language="javascript" src="/static/js/jsrender.js"></script>
	<script language="javascript" src="/static/js/jquery.json.min.js"></script>
	<script language="javascript" src="/static/js/election_questions.js"></script>
{% endblock %}

{% block breadcrumb %}
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Página Inicial</a></li>
			<li class="breadcrumb-item"><a href="{% url 'one-election-view' election.uuid %}">{{election.name}}</a></li>
			<li class="breadcrumb-item active">Questões</li>
		</ol>
	</nav>
{% endblock %}

{% block content %}
	<h3 class="title">{{election.name}} &mdash; Questões</h3>
	<script language="javascript">
		{% if election.questions %}
			QUESTIONS = JSON.parse("{{questions_json|escapejs}}");
		{% else %}
			QUESTIONS = [];
		{% endif %}
		{% if admin_p and not election.frozen_at %}
			ADMIN_P = true;
		{% else %}
			ADMIN_P = false;
		{% endif %}

		CSRF_TOKEN = '{{csrf_token}}';
		var DEFAULT_NUM_ANSWERS = 5;
	</script>

	<div id="questions"></div>
	<div id="question"></div>

	<!-- end #content -->
{% endblock %}
